In [ ]:
import pandas as pd
import numpy as np

## df_host

In [ ]:
df_host.columns

Index(['host_id', 'host_since', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_listings_count',
       'host_has_profile_pic', 'host_identity_verified', 'host_location'],
      dtype='object')

In [ ]:
df_host_t = pd.read_csv("/content/drive/MyDrive/Canada/Toronto/host_toronto_df.csv")
df_host_t.head()

,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_has_profile_pic,host_identity_verified
0,1565,Alexandra,08-08-2008,"Vancouver, British Columbia, Canada",NaN,NaN,NaN,False,Commercial Drive,1.0,True,True
1,22795,Kathie & Larry,22-06-2009,"Toronto, Ontario, Canada",NaN,NaN,NaN,False,Harbourfront,2.0,True,False
2,93825,Yohan & Sarah,15-03-2010,"Toronto, Ontario, Canada",NaN,NaN,NaN,False,Fairbank,2.0,True,True
3,118124,Brent,04-05-2010,"Toronto, Ontario, Canada",within an hour,100.0,100.0,False,Greenwood-Coxwell,1.0,True,True
4,174063,Denis,20-07-2010,"Toronto, Ontario, Canada",within a few hours,100.0,90.0,True,Parkdale,3.0,True,True

In [ ]:
df_host_v = pd.read_csv("/content/drive/MyDrive/Canada/Vancouver/host_vancouver_df.csv")
df_host_v.head()

,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_has_profile_pic,host_identity_verified
0,52116,Lynn,2009-11-07,"Vancouver, British Columbia, Canada",within a day,100.0,75.0,False,Downtown Vancouver,1.0,False,True
1,52467,Iris,2009-11-08,"Vancouver, British Columbia, Canada",within an hour,100.0,76.0,True,Kensington-Cedar Cottage,4.0,True,True
2,56030,Peter & Alison,2009-11-20,"Vancouver, British Columbia, Canada",within an hour,100.0,67.0,False,Kensington-Cedar Cottage,1.0,True,True
3,63238,Jason,2009-12-15,"Vancouver, British Columbia, Canada",within an hour,100.0,100.0,False,Hastings-Sunrise,1.0,True,True
4,58512,Q,2009-11-29,CA,a few days or more,0.0,0.0,False,Commercial Drive,5.0,True,True

In [ ]:
df_host_v.columns

Index(['host_id', 'host_name', 'host_since', 'host_location',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_neighbourhood', 'host_listings_count',
       'host_has_profile_pic', 'host_identity_verified'],
      dtype='object')

In [ ]:
df_host_t.columns

Index(['host_id', 'host_name', 'host_since', 'host_location',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_neighbourhood', 'host_listings_count',
       'host_has_profile_pic', 'host_identity_verified'],
      dtype='object')

In [ ]:
df_host = pd.merge(df_host_v, df_host_t, how='outer')
df_host.head()

,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_has_profile_pic,host_identity_verified
0,52116,Lynn,2009-11-07,"Vancouver, British Columbia, Canada",within a day,100.0,75.0,False,Downtown Vancouver,1.0,False,True
1,52467,Iris,2009-11-08,"Vancouver, British Columbia, Canada",within an hour,100.0,76.0,True,Kensington-Cedar Cottage,4.0,True,True
2,56030,Peter & Alison,2009-11-20,"Vancouver, British Columbia, Canada",within an hour,100.0,67.0,False,Kensington-Cedar Cottage,1.0,True,True
3,63238,Jason,2009-12-15,"Vancouver, British Columbia, Canada",within an hour,100.0,100.0,False,Hastings-Sunrise,1.0,True,True
4,58512,Q,2009-11-29,CA,a few days or more,0.0,0.0,False,Commercial Drive,5.0,True,True

In [ ]:
df_host.head()

,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_has_profile_pic,host_identity_verified
0,52116,Lynn,2009-11-07,"Vancouver, British Columbia, Canada",within a day,100.0,75.0,False,Downtown Vancouver,1.0,False,True
1,52467,Iris,2009-11-08,"Vancouver, British Columbia, Canada",within an hour,100.0,76.0,True,Kensington-Cedar Cottage,4.0,True,True
2,56030,Peter & Alison,2009-11-20,"Vancouver, British Columbia, Canada",within an hour,100.0,67.0,False,Kensington-Cedar Cottage,1.0,True,True
3,63238,Jason,2009-12-15,"Vancouver, British Columbia, Canada",within an hour,100.0,100.0,False,Hastings-Sunrise,1.0,True,True
4,58512,Q,2009-11-29,CA,a few days or more,0.0,0.0,False,Commercial Drive,5.0,True,True

In [ ]:
df_host.shape

(13103, 12)

In [ ]:
import re
df_host['location'] = df_host['host_location'].str.extract('(Toronto|Vancouver)',flags=re.IGNORECASE)

In [ ]:
df_host['location'] = df_host['location'].str.replace('toronto', 'Toronto')

In [ ]:
mode = df_host['host_response_time'].mode()[0]
df_host['host_response_time'] = df_host['host_response_time'].fillna(mode)

In [ ]:
median = df_host['host_acceptance_rate'].median()
df_host['host_acceptance_rate'] = df_host['host_acceptance_rate'].fillna(median)

In [ ]:
median = df_host['host_acceptance_rate'].median()
df_host['host_acceptance_rate'] = df_host['host_acceptance_rate'].fillna(median)

In [ ]:
median = df_host['host_response_rate'].median()
df_host['host_response_rate'] = df_host['host_response_rate'].fillna(median)

In [ ]:
df_host.head()

,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_has_profile_pic,host_identity_verified,location
0,52116,Lynn,2009-11-07,"Vancouver, British Columbia, Canada",within a day,100.0,75.0,False,Downtown Vancouver,1.0,False,True,Vancouver
1,52467,Iris,2009-11-08,"Vancouver, British Columbia, Canada",within an hour,100.0,76.0,True,Kensington-Cedar Cottage,4.0,True,True,Vancouver
2,56030,Peter & Alison,2009-11-20,"Vancouver, British Columbia, Canada",within an hour,100.0,67.0,False,Kensington-Cedar Cottage,1.0,True,True,Vancouver
3,63238,Jason,2009-12-15,"Vancouver, British Columbia, Canada",within an hour,100.0,100.0,False,Hastings-Sunrise,1.0,True,True,Vancouver
4,58512,Q,2009-11-29,CA,a few days or more,0.0,0.0,False,Commercial Drive,5.0,True,True,NaN

In [ ]:
df_host.shape

(13103, 13)

In [ ]:
df_host.isna().sum()

host_id                      0
host_name                    8
host_since                   8
host_location               19
host_response_time           0
host_response_rate           0
host_acceptance_rate         0
host_is_superhost            8
host_neighbourhood        3983
host_listings_count          8
host_has_profile_pic         8
host_identity_verified       8
location                  3602
dtype: int64

In [ ]:
df_host = df_host.drop(columns = ['host_neighbourhood', 'host_name','host_location'])

In [ ]:
df_host.dropna(inplace = True)

In [ ]:
df_host.shape

(9501, 10)

In [ ]:
df_host = df_host.rename(columns={'location': 'host_location'})

In [ ]:
df_host.columns

Index(['host_id', 'host_since', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_listings_count',
       'host_has_profile_pic', 'host_identity_verified', 'host_location'],
      dtype='object')

In [ ]:
df_host.dtypes

host_id                     int64
host_since                 object
host_response_time         object
host_response_rate        float64
host_acceptance_rate      float64
host_is_superhost          object
host_listings_count       float64
host_has_profile_pic       object
host_identity_verified     object
host_location              object
dtype: object

In [ ]:
df_host['host_since'] = pd.to_datetime(df_host['host_since'])

<ipython-input-70-f21078d640bd>:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_host['host_since'] = pd.to_datetime(df_host['host_since'])

In [ ]:
for i in df_host.columns:
    print(df_host[i].dtypes)
    print(df_host[i].isna().sum())
    print('>>>>>>>>>>>>>>>>')
    print(df_host[i].value_counts())
    print('________________________')

int64
0
>>>>>>>>>>>>>>>>
10968137     2
14164109     2
178801067    2
214338445    1
50551745     1
            ..
10993848     1
33831520     1
6662296      1
13696394     1
294941592    1
Name: host_id, Length: 9498, dtype: int64
________________________
datetime64[ns]
0
>>>>>>>>>>>>>>>>
2015-08-06    16
2016-01-19    14
2015-01-09    14
2015-09-23    12
2016-05-15    12
              ..
2011-07-21     1
2017-07-26     1
2010-11-21     1
2019-08-01     1
2022-02-28     1
Name: host_since, Length: 3380, dtype: int64
________________________
object
0
>>>>>>>>>>>>>>>>
within an hour        7337
within a few hours    1115
within a day           739
a few days or more     310
Name: host_response_time, dtype: int64
________________________
float64
0
>>>>>>>>>>>>>>>>
100.0    8467
0.0       226
90.0      125
50.0       74
80.0       64
67.0       47
75.0       30
70.0       29
86.0       29
97.0       28
92.0       27
94.0       26
95.0       26
83.0       24
60.0       24
88.0       23
96.0       22
33.0       22
89.0       17
93.0       16
98.0       15
40.0       14
91.0       13
25.0       11
99.0       10
20.0       10
71.0        9
78.0        8
11.0        6
85.0        6
84.0        5
87.0        5
69.0        4
82.0        4
79.0        3
30.0        3
13.0        2
10.0        2
65.0        2
38.0        2
81.0        2
57.0        2
29.0        2
16.0        1
55.0        1
27.0        1
63.0        1
73.0        1
36.0        1
77.0        1
68.0        1
76.0        1
56.0        1
43.0        1
37.0        1
17.0        1
46.0        1
58.0        1
Name: host_response_rate, dtype: int64
________________________
float64
0
>>>>>>>>>>>>>>>>
95.0     3960
100.0    2041
0.0       405
98.0      220
97.0      191
         ...
21.0        1
12.0        1
49.0        1
19.0        1
28.0        1
Name: host_acceptance_rate, Length: 94, dtype: int64
________________________
object
0
>>>>>>>>>>>>>>>>
False    6683
True     2818
Name: host_is_superhost, dtype: int64
________________________
float64
0
>>>>>>>>>>>>>>>>
1.0      5093
0.0      1894
2.0      1316
3.0       525
4.0       229
5.0       106
6.0        73
7.0        55
8.0        35
9.0        25
10.0       19
11.0       18
14.0       13
12.0       12
13.0       11
15.0        8
17.0        8
21.0        6
20.0        4
23.0        4
29.0        4
24.0        3
28.0        3
16.0        3
26.0        3
18.0        3
19.0        2
25.0        2
27.0        2
22.0        2
49.0        2
31.0        1
210.0       1
38.0        1
46.0        1
289.0       1
42.0        1
52.0        1
30.0        1
80.0        1
57.0        1
37.0        1
61.0        1
40.0        1
35.0        1
71.0        1
56.0        1
47.0        1
68.0        1
Name: host_listings_count, dtype: int64
________________________
object
0
>>>>>>>>>>>>>>>>
True     9468
False      33
Name: host_has_profile_pic, dtype: int64
________________________
object
0
>>>>>>>>>>>>>>>>
True     8139
False    1362
Name: host_identity_verified, dtype: int64
________________________
object
0
>>>>>>>>>>>>>>>>
Toronto      7122
Vancouver    2379
Name: host_location, dtype: int64
________________________

In [ ]:
# Check for duplicates in 'host_id'
duplicates = df_host.duplicated(subset='host_id', keep=False)

# Drop duplicate rows
df_host = df_host[~duplicates]

# Check the result
print(df_host['host_id'].duplicated().sum())

0

In [ ]:
# from google.colab import files
# # Save the dataframe as a CSV file
# df_host.to_csv('df_host.csv', index=False)

# # Download the file
# files.download('df_host.csv')

## df_listing

In [ ]:
df_listing['property_type'].unique()

array(['Entire home', 'Private room in rental unit',
       'Private room in residential home', 'Entire rental unit',
       'Entire residential home', 'Entire condominium (condo)',
       'Private room in bungalow', 'Private room in condo',
       'Entire condo', 'Entire townhouse', 'Private room in townhouse',
       'Entire loft', 'Entire guest suite', 'Shared room in rental unit',
       'Private room in home', 'Shared room in parking space',
       'Entire serviced apartment', 'Private room in condominium (condo)',
       'Private room in tiny house', 'Entire guesthouse',
       'Private room in bed and breakfast', 'Private room in guest suite',
       'Private room in cottage', 'Private room in loft',
       'Entire bungalow', 'Shared room in home',
       'Private room in guesthouse', 'Tiny house', 'Private room',
       'Shared room in condo', 'Entire place', 'Shared room in townhouse',
       'Private room in vacation home',
       'Shared room in bed and breakfast', 'Private room in floor',
       'Entire villa', 'Floor', 'Private room in villa',
       'Shared room in bungalow', 'Room in hostel',
       'Shared room in residential home', 'Private room in castle',
       'Shared room in loft', 'Entire home/apt',
       'Shared room in guesthouse', 'Shared room in condominium (condo)',
       'Camper/RV', 'Room in boutique hotel', 'Room in hotel',
       'Entire cottage', 'Room in aparthotel', 'Private room in barn',
       'Shared room in barn', 'Shared room in villa',
       'Room in bed and breakfast', 'Boat', 'Shared room in boat', 'Barn',
       'Private room in serviced apartment', 'Earthen home',
       'Private room in casa particular', 'Private room in earth house',
       'Private room in camper/rv', 'Entire vacation home',
       'Shared room in hostel', 'Shared room in hotel', 'Casa particular',
       'Houseboat', 'Entire cabin', 'Private room in boat',
       'Entire timeshare', 'Tiny home', 'Private room in hostel',
       'Private room in resort'], dtype=object)

In [ ]:
df_listing_t = pd.read_csv("/content/drive/MyDrive/Canada/Toronto/listing_toronto_df.csv")
df_listing_t.head()

,id,name,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bedrooms,beds,...,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,host_id
0,1419,Beautiful home in amazing area!,Little Portugal,43.64590,-79.42423,Entire home,Entire home/apt,10,5.0,7.0,...,730,5.00,5.00,5.00,5.00,5.00,5.00,5.00,False,1565
1,8077,Downtown Harbourfront Private Room,Waterfront Communities-The Island,43.64080,-79.37673,Private room in rental unit,Private room,2,1.0,1.0,...,365,4.84,4.81,4.89,4.87,4.90,4.92,4.83,True,22795
2,23691,Queen Bedroom close to downtown,Briar Hill-Belgravia,43.69805,-79.45411,Private room in residential home,Private room,3,1.0,1.0,...,28,4.75,4.73,4.82,4.90,4.93,4.34,4.73,True,93825
3,27423,Executive Studio Unit- Ideal for One Person,South Riverdale,43.66884,-79.32725,Entire rental unit,Entire home/apt,1,NaN,1.0,...,365,4.92,5.00,4.82,5.00,5.00,4.82,4.82,False,118124
4,30931,Downtown Toronto - Waterview Condo,Waterfront Communities-The Island,43.64015,-79.37625,Entire rental unit,Entire home/apt,2,1.0,2.0,...,365,5.00,NaN,NaN,NaN,NaN,NaN,NaN,False,22795

In [ ]:
df_listing_v = pd.read_csv("/content/drive/MyDrive/Canada/Vancouver/listing_vancouver_df.csv")
df_listing_v.head()

,id,name,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bedrooms,beds,...,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,host_id
0,13358,Monthly (or Longer ) Designer One Bedroom Down...,West End,49.28201,-123.12669,Entire condo,Entire home/apt,2,1.0,1.0,...,60,4.67,4.76,4.80,4.84,4.79,4.92,4.67,False,52116
1,13490,Vancouver's best kept secret,Kensington-Cedar Cottage,49.25622,-123.06607,Entire rental unit,Entire home/apt,2,1.0,1.0,...,90,4.92,4.92,4.96,4.96,4.97,4.77,4.88,False,52467
2,14267,EcoLoft Vancouver,Kensington-Cedar Cottage,49.24922,-123.08139,Entire home,Entire home/apt,4,1.0,2.0,...,7,4.76,4.84,4.68,4.90,4.68,4.77,4.71,True,56030
3,16254,Close to PNE/Hastings Park Garden level suite,Hastings-Sunrise,49.27721,-123.04086,Entire guest suite,Entire home/apt,4,2.0,3.0,...,31,4.80,4.80,4.80,5.00,5.00,5.00,4.60,True,63238
4,16611,"1 block to skytrain station, shops,restaurant,...",Grandview-Woodland,49.26339,-123.07145,Entire residential home,Entire home/apt,6,3.0,4.0,...,1125,4.00,4.00,3.00,4.00,4.33,5.00,3.67,False,58512

In [ ]:
# Check if the two dataframes have the same columns
if df_listing_t.columns.equals(df_listing_v.columns):
    print("The two dataframes have the same columns.")
else:
    print("The two dataframes do not have the same columns.")

The two dataframes have the same columns.

In [ ]:
df_listing = pd.merge(df_listing_t, df_listing_v, how='outer')
df_listing.head()

,id,name,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bedrooms,beds,...,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,host_id
0,1419,Beautiful home in amazing area!,Little Portugal,43.64590,-79.42423,Entire home,Entire home/apt,10,5.0,7.0,...,730,5.00,5.00,5.00,5.00,5.00,5.00,5.00,False,1565
1,8077,Downtown Harbourfront Private Room,Waterfront Communities-The Island,43.64080,-79.37673,Private room in rental unit,Private room,2,1.0,1.0,...,365,4.84,4.81,4.89,4.87,4.90,4.92,4.83,True,22795
2,23691,Queen Bedroom close to downtown,Briar Hill-Belgravia,43.69805,-79.45411,Private room in residential home,Private room,3,1.0,1.0,...,28,4.75,4.73,4.82,4.90,4.93,4.34,4.73,True,93825
3,27423,Executive Studio Unit- Ideal for One Person,South Riverdale,43.66884,-79.32725,Entire rental unit,Entire home/apt,1,NaN,1.0,...,365,4.92,5.00,4.82,5.00,5.00,4.82,4.82,False,118124
4,30931,Downtown Toronto - Waterview Condo,Waterfront Communities-The Island,43.64015,-79.37625,Entire rental unit,Entire home/apt,2,1.0,2.0,...,365,5.00,NaN,NaN,NaN,NaN,NaN,NaN,False,22795

In [ ]:
df_listing.shape

(19948, 22)

In [ ]:
df_listing.columns

Index(['id', 'name', 'neighbourhood_cleansed', 'latitude', 'longitude',
       'property_type', 'room_type', 'accommodates', 'bedrooms', 'beds',
       'price', 'minimum_nights', 'maximum_nights', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'instant_bookable',
       'host_id'],
      dtype='object')

In [ ]:
median = df_listing['bedrooms'].median()
df_listing['bedrooms'] = df_listing['bedrooms'].fillna(median)

In [ ]:
median = df_listing['beds'].median()
df_listing['beds'] = df_listing['beds'].fillna(median)

In [ ]:
mean = df_listing['review_scores_rating'].mean()
df_listing['review_scores_rating'] = df_listing['review_scores_rating'].fillna(mean)

In [ ]:
mean = df_listing['review_scores_accuracy'].mean()
df_listing['review_scores_accuracy'] = df_listing['review_scores_accuracy'].fillna(mean)

In [ ]:
mean = df_listing['review_scores_cleanliness'].mean()
df_listing['review_scores_cleanliness'] = df_listing['review_scores_cleanliness'].fillna(mean)

mean = df_listing['review_scores_checkin'].mean()
df_listing['review_scores_checkin'] = df_listing['review_scores_checkin'].fillna(mean)

mean = df_listing['review_scores_communication'].mean()
df_listing['review_scores_communication'] = df_listing['review_scores_communication'].fillna(mean)

mean = df_listing['review_scores_location'].mean()
df_listing['review_scores_location'] = df_listing['review_scores_location'].fillna(mean)

mean = df_listing['review_scores_value'].mean()
df_listing['review_scores_value'] = df_listing['review_scores_value'].fillna(mean)

In [ ]:
df_listing.dtypes

id                               int64
name                            object
neighbourhood_cleansed          object
latitude                       float64
longitude                      float64
property_type                   object
room_type                       object
accommodates                     int64
bedrooms                       float64
beds                           float64
price                          float64
minimum_nights                   int64
maximum_nights                   int64
review_scores_rating           float64
review_scores_accuracy         float64
review_scores_cleanliness      float64
review_scores_checkin          float64
review_scores_communication    float64
review_scores_location         float64
review_scores_value            float64
instant_bookable                  bool
host_id                          int64
dtype: object

In [ ]:
for i in df_listing.columns:
    print(df_listing[i].dtypes)
    print(df_listing[i].isna().sum())
    print('>>>>>>>>>>>>>>>>')
    print(df_listing[i].value_counts())
    print('________________________')

int64
0
>>>>>>>>>>>>>>>>
1419                  1
52255621              1
52269583              1
52269281              1
52269100              1
                     ..
29630358              1
29629090              1
29627725              1
29623371              1
577777177330949253    1
Name: id, Length: 19948, dtype: int64
________________________
object
2
>>>>>>>>>>>>>>>>
Cozy Private Suite, Great Shaughnessy Location      21
Downtown Toronto Little Italy Trinity Bellwood       7
Downtown Lifestyle Hotel Living for 3+ days          6
NEW - Luxury 2 Bedroom / 2 Bathroom with Balcony     6
Home away from home                                  6
                                                    ..
Brookhaven- Amesbary,  North York , Toronto, On      1
Luxurious Spacious Toronto Condo                     1
Cozy Home                                            1
Minimalist Modern Downtown /with Parking             1
Bright and spacious 2 bedroom home in Vancouver      1
Name: name, Length: 19531, dtype: int64
________________________
object
0
>>>>>>>>>>>>>>>>
Waterfront Communities-The Island    2721
Downtown                             1211
Niagara                               603
Annex                                 540
Church-Yonge Corridor                 488
                                     ...
Humbermede                             14
Bridle Path-Sunnybrook-York Mills      12
Elms-Old Rexdale                       11
Kingsway South                         10
Rustic                                  5
Name: neighbourhood_cleansed, Length: 162, dtype: int64
________________________
float64
0
>>>>>>>>>>>>>>>>
49.274403    28
43.644130    22
49.250110    21
49.284060    20
43.641320    16
             ..
43.772190     1
43.759690     1
43.702400     1
43.766050     1
49.260547     1
Name: latitude, Length: 11855, dtype: int64
________________________
float64
0
>>>>>>>>>>>>>>>>
-123.130981    28
-123.127790    22
-123.128780    19
-79.372890     15
-79.389400     15
               ..
-79.427270      1
-79.375500      1
-79.326600      1
-79.461200      1
-123.203660     1
Name: longitude, Length: 14176, dtype: int64
________________________
object
0
>>>>>>>>>>>>>>>>
Entire rental unit                  4025
Entire condominium (condo)          3452
Private room in residential home    2032
Entire residential home             1698
Entire condo                        1407
                                    ...
Shared room in boat                    1
Shared room in guesthouse              1
Tiny home                              1
Shared room in parking space           1
Private room in castle                 1
Name: property_type, Length: 74, dtype: int64
________________________
object
0
>>>>>>>>>>>>>>>>
Entire home/apt    13952
Private room        5787
Shared room          187
Hotel room            22
Name: room_type, dtype: int64
________________________
int64
0
>>>>>>>>>>>>>>>>
2     7875
4     4096
1     2552
3     2130
6     1401
5      949
8      377
7      216
10     144
12      61
16      57
9       46
14      19
11      10
13       7
15       5
0        3
Name: accommodates, dtype: int64
________________________
float64
0
>>>>>>>>>>>>>>>>
1.0     13812
2.0      4133
3.0      1404
4.0       419
5.0       110
6.0        43
7.0        15
8.0         6
9.0         5
13.0        1
Name: bedrooms, dtype: int64
________________________
float64
0
>>>>>>>>>>>>>>>>
1.0     11117
2.0      5519
3.0      2048
4.0       778
5.0       267
6.0       105
7.0        61
8.0        21
9.0        15
10.0        5
12.0        5
11.0        4
13.0        2
15.0        1
Name: beds, dtype: int64
________________________
float64
0
>>>>>>>>>>>>>>>>
100.0     635
150.0     537
120.0     411
50.0      373
80.0      371
         ...
937.0       1
3570.0      1
1005.0      1
3000.0      1
1386.0      1
Name: price, Length: 713, dtype: int64
________________________
int64
0
>>>>>>>>>>>>>>>>
28     8768
1      2586
30     2476
2      2027
3      1232
       ...
999       1
210       1
170       1
11        1
72        1
Name: minimum_nights, Length: 104, dtype: int64
________________________
int64
0
>>>>>>>>>>>>>>>>
1125    10148
365      2502
30       1116
90        882
60        765
        ...
345         1
53          1
480         1
1200        1
78          1
Name: maximum_nights, Length: 225, dtype: int64
________________________
float64
0
>>>>>>>>>>>>>>>>
5.000000    4678
4.677463    4128
4.500000     490
4.000000     470
4.670000     451
            ...
3.430000       1
2.860000       1
3.740000       1
2.330000       1
3.370000       1
Name: review_scores_rating, Length: 141, dtype: int64
________________________
float64
0
>>>>>>>>>>>>>>>>
5.000000    5324
4.777408    4306
4.500000     417
4.000000     394
4.880000     394
            ...
2.750000       1
3.900000       1
4.160000       1
4.080000       1
3.470000       1
Name: review_scores_accuracy, Length: 134, dtype: int64
________________________
float64
0
>>>>>>>>>>>>>>>>
5.00000    4532
4.69233    4304
4.00000     570
4.50000     513
4.67000     435
           ...
4.02000       1
3.14000       1
2.20000       1
3.11000       1
3.34000       1
Name: review_scores_cleanliness, Length: 167, dtype: int64
________________________
float64
0
>>>>>>>>>>>>>>>>
5.000000    6642
4.832637    4307
4.960000     421
4.940000     417
4.970000     392
            ...
3.520000       1
3.200000       1
3.140000       1
3.710000       1
3.640000       1
Name: review_scores_checkin, Length: 130, dtype: int64
________________________
float64
0
>>>>>>>>>>>>>>>>
5.000000    6963
4.833058    4307
4.950000     434
4.960000     425
4.940000     410
            ...
3.950000       1
3.920000       1
3.400000       1
3.970000       1
3.660000       1
Name: review_scores_communication, Length: 129, dtype: int64
________________________
float64
0
>>>>>>>>>>>>>>>>
5.000000    5902
4.826567    4308
4.880000     384
4.940000     362
4.920000     359
            ...
3.960000       1
3.890000       1
3.640000       1
4.050000       1
3.570000       1
Name: review_scores_location, Length: 128, dtype: int64
________________________
float64
0
>>>>>>>>>>>>>>>>
4.681329    4307
5.000000    3670
4.000000     612
4.670000     556
4.500000     551
            ...
2.860000       1
3.970000       1
3.170000       1
0.000000       1
3.610000       1
Name: review_scores_value, Length: 145, dtype: int64
________________________
bool
0
>>>>>>>>>>>>>>>>
False    14373
True      5575
Name: instant_bookable, dtype: int64
________________________
int64
0
>>>>>>>>>>>>>>>>
785826       133
231663454     78
10202618      70
269243315     47
846505        46
            ...
25011309       1
206664611      1
206780523      1
206913578      1
77171363       1
Name: host_id, Length: 13097, dtype: int64
________________________

In [ ]:
df_listing.dtypes

id                               int64
name                            object
neighbourhood_cleansed          object
latitude                       float64
longitude                      float64
property_type                   object
room_type                       object
accommodates                     int64
bedrooms                       float64
beds                           float64
price                          float64
minimum_nights                   int64
maximum_nights                   int64
review_scores_rating           float64
review_scores_accuracy         float64
review_scores_cleanliness      float64
review_scores_checkin          float64
review_scores_communication    float64
review_scores_location         float64
review_scores_value            float64
instant_bookable                  bool
host_id                          int64
dtype: object

In [ ]:
df_listing.dropna(inplace = True)

In [ ]:
df_listing.shape

(19946, 22)

In [ ]:
df_listing.columns

Index(['id', 'name', 'neighbourhood_cleansed', 'latitude', 'longitude',
       'property_type', 'room_type', 'accommodates', 'bedrooms', 'beds',
       'price', 'minimum_nights', 'maximum_nights', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'instant_bookable',
       'host_id'],
      dtype='object')

In [ ]:

# # Save the dataframe as a CSV file
# df_listing.to_csv('df_listing.csv', index=False)

# # Download the file
# files.download('df_listing.csv')

# df_reviews

In [ ]:
df_reviews_t = pd.read_csv("/content/drive/MyDrive/Canada/Toronto/review_toronto_df.csv")
df_reviews_t.head()

,id,listing_id,date,reviewer_id,reviewer_name,comments
0,38924112,1419,2015-07-19,11308465,Marcela,Having the opportunity of arriving to Alexandr...
1,44791978,1419,2015-08-29,9580285,Marco,We have no enough words to describe how beauty...
2,45957133,1419,2015-09-07,38394721,Andrea,The listing was exceptional and an even better...
3,67295154,1419,2016-03-28,3515044,Shaun,Alexandra's home was amazing and in such a nea...
4,177702208,1419,2017-08-03,13987100,Kate,Beautiful home. Very comfortable and clean. Pe...

In [ ]:
df_reviews_v = pd.read_csv("/content/drive/MyDrive/Canada/Vancouver/review_vancouver_df.csv")
df_reviews_v.head()

,id,listing_id,date,reviewer_id,reviewer_name,comments
0,6736884,1418910,2013-08-23,6631256,Stephan,Tracey's place and her hospitality are just pe...
1,4176754,254657,2013-04-15,1635606,Peter,The reservation was canceled 47 days before ar...
2,7030638,1418910,2013-09-03,7196901,Emma,I had a lovely time at Traceys. The house is b...
3,7128340,1418910,2013-09-07,1558711,Vincent,"An amazing house in an incredible location, wi..."
4,7152727,1418910,2013-09-08,174592,Jennifer,Tracey was such a great host! I booked her pla...

In [ ]:
# Check if the two dataframes have the same columns
if df_reviews_t.columns.equals(df_reviews_v.columns):
    print("The two dataframes have the same columns.")
else:
    print("The two dataframes do not have the same columns.")

The two dataframes have the same columns.

In [ ]:
df_reviews = pd.merge(df_reviews_t, df_reviews_v, how='outer')
df_reviews.head()

,id,listing_id,date,reviewer_id,reviewer_name,comments
0,38924112,1419,2015-07-19,11308465,Marcela,Having the opportunity of arriving to Alexandr...
1,44791978,1419,2015-08-29,9580285,Marco,We have no enough words to describe how beauty...
2,45957133,1419,2015-09-07,38394721,Andrea,The listing was exceptional and an even better...
3,67295154,1419,2016-03-28,3515044,Shaun,Alexandra's home was amazing and in such a nea...
4,177702208,1419,2017-08-03,13987100,Kate,Beautiful home. Very comfortable and clean. Pe...

In [ ]:
df_reviews['comments'] = df_reviews['comments'].str.replace('<br/>', '')

In [ ]:
df_reviews['id'] = df_reviews['id'].astype(str)
df_reviews = df_reviews[df_reviews['id'].str.isnumeric()]

In [ ]:
df_reviews['id'] = df_reviews['id'].astype(int)

In [ ]:
for i in df_reviews.columns:
    print(df_reviews[i].dtypes)
    print(df_reviews[i].isna().sum())
    print('>>>>>>>>>>>>>>>>')
    print(df_reviews[i].value_counts())
    print('________________________')

int64
0
>>>>>>>>>>>>>>>>
38924112              1
408666878065868665    1
396290982859656564    1
397756406592843605    1
399150359412126381    1
                     ..
329301375             1
328919237             1
326167554             1
270894857             1
566718624522201116    1
Name: id, Length: 565422, dtype: int64
________________________
int64
0
>>>>>>>>>>>>>>>>
390395      828
18856610    749
5471844     742
18154899    731
4565516     718
           ...
36206997      1
36145759      1
36138603      1
13606952      1
52907686      1
Name: listing_id, Length: 15820, dtype: int64
________________________
object
0
>>>>>>>>>>>>>>>>
2019-08-05    1134
2019-09-02    1008
2019-07-07     964
2019-08-18     948
2019-08-11     917
              ...
2010-12-23       1
2010-12-16       1
2010-12-07       1
2010-11-05       1
2011-04-11       1
Name: date, Length: 4041, dtype: int64
________________________
int64
0
>>>>>>>>>>>>>>>>
58626676     56
48048714     42
214718303    41
278610392    34
342202705    30
             ..
74431431      1
115858722     1
51237147      1
161776625     1
147931992     1
Name: reviewer_id, Length: 482172, dtype: int64
________________________
object
1
>>>>>>>>>>>>>>>>
David                4216
Michael              3985
Sarah                3408
Daniel               2711
John                 2612
                     ...
Ngoc Hai                1
Matthew & Martina       1
Aiyha                   1
Ronnessa                1
Ninghan                 1
Name: reviewer_name, Length: 75757, dtype: int64
________________________
object
71
>>>>>>>>>>>>>>>>
Great place                                                                                                                                                                                                                                                                                                           785
Great place!                                                                                                                                                                                                                                                                                                          685
.                                                                                                                                                                                                                                                                                                                     599
Great location!                                                                                                                                                                                                                                                                                                       433
Great location                                                                                                                                                                                                                                                                                                        420
                                                                                                                                                                                                                                                                                                                     ...
Amazing space, amazing location, amazing amenities, amazing view! We had a great time here and we couldn’t have asked for anything better! Thank you Helen!                                                                                                                                                             1
Loved my stay here, will definitely be coming back                                                                                                                                                                                                                                                                      1
This space was incredibly beautiful with its view of the CN tower right outside the bedroom window. Also, the home was also very clean and comfortable, would definitely recommend :)                                                                                                                                   1
Place was spotless and the view is amazing!  Easy and great location                                                                                                                                                                                                                                                    1
Andy and Nancy are absolutely the best hosts I've met, and the room was so clean and comfortable. I really had one of the best stays, even though it was short. comfortable clean, essentially prepared, and convenient. I would stay again and enjoyed talking to them and had a great sleep. Thanks again, guys!      1
Name: comments, Length: 540785, dtype: int64
________________________

In [ ]:
df_reviews.dropna(inplace=True)

In [ ]:
df_reviews.shape

(565350, 6)

In [ ]:
from google.colab import files
# Save the dataframe as a CSV file
df_reviews.to_csv('df_reviews.csv', index=False)

# # # Download the file
# # files.download('df_reviews.csv')

In [ ]:
reviews = pd.read_csv("/content/drive/MyDrive/reviews.csv")
reviews

,id,listing_id,date,reviewer_id,reviewer_name,comments
0,3.892411e+07,1419.0,19-07-2015,11308465,Marcela,Having the opportunity of arriving to Alexandr...
1,4.479198e+07,1419.0,29-08-2015,9580285,Marco,We have no enough words to describe how beauty...
2,4.595713e+07,1419.0,07-09-2015,38394721,Andrea,The listing was exceptional and an even better...
3,6.729515e+07,1419.0,28-03-2016,3515044,Shaun,Alexandra's home was amazing and in such a nea...
4,1.777022e+08,1419.0,03-08-2017,13987100,Kate,Beautiful home. Very comfortable and clean. Pe...
...,...,...,...,...,...,...
565317,5.500510e+17,52906560.0,28-01-2022,122450092,Manuel,"Lugar limpio, cama cómoda. Andy es una persona..."
565318,5.530210e+17,52906560.0,01-02-2022,30777541,Jane,Solid place all around. Good bang for the buck.
565319,5.588180e+17,52906560.0,09-02-2022,381603919,Felipe,"Excelente servicio, limpio y muy tranuilo"
565320,5.667750e+17,52906560.0,20-02-2022,147931992,Dinh,Excellent host and services
565321,5.667190e+17,52907686.0,20-02-2022,373033573,Gary,Andy and Nancy are absolutely the best hosts I...

In [ ]:
reviews.dtypes

id                        int64
listing_id                int64
date             datetime64[ns]
reviewer_id               int64
reviewer_name            object
comments                 object
dtype: object

In [ ]:
reviews['id'] = reviews['id'].astype(int)
reviews['listing_id'] = reviews['listing_id'].astype(int)
reviews['date'] = pd.to_datetime(reviews['date'])

<ipython-input-9-4fb2b42b62d8>:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  reviews['date'] = pd.to_datetime(reviews['date'])

In [ ]:
reviews.columns

Index(['id', 'listing_id', 'date', 'reviewer_id', 'reviewer_name', 'comments'], dtype='object')